.formParentBox{
    margin-bottom: 10px;
}
.formParentBox input,
.formParentBox select{
  width: 100%;
  outline: none;
  font-size: 0.85rem;
  border-radius: 0.2rem;
  padding: 0.6rem;
  border: 2px solid #dfe1e6;
  background-color: #fafbfc;
}

.formParentBox p{
    margin: 0px;
    font-size: 13px;
    padding: 2px;
    color: #d53333;
}